<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme" pcoded-header-position="fixed">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/icon.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="col-sm-4">
                <div class="upgrade-button-header f-left" style="width:100%">
                  <a type="button" [routerLink]="['/tabulasi']" class="btn btn-sm txt-white p-t-10 p-b-10" [ngClass]="{'btn-success': thisroute === 'tabulasi', 'btn-info': thisroute !=='tabulasi'}"  style="width:100%"><i class="icofont icofont-chart-pie"></i>Tabulasi</a>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="upgrade-button-header f-left" style="width:100%">
                  <a type="button" [routerLink]="['/progress']" class="btn btn-sm txt-white p-t-10 p-b-10" [ngClass]="{'btn-success': thisroute === 'progress', 'btn-info': thisroute !=='progress'}" style="width:100%"><i class="icofont icofont-chart-bar-graph"></i>Progress Suara</a>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="upgrade-button-header f-left" style="width:100%">
                  <a type="button" [routerLink]="['/status']" class="btn btn-sm txt-white p-t-10 p-b-10" [ngClass]="{'btn-success': thisroute === 'status', 'btn-info': thisroute !=='status'}" style="width:100%"><i class="icofont icofont-chart-line "></i>Status TPS</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="pcoded-main-container" style="margin-top: 56px;">
      <router-outlet>
        <app-spinner>
        </app-spinner>
      </router-outlet>

    </div>
  </div>
</div>
