<div class="pcoded-wrapper">
  <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme" active-item-theme="theme" sub-item-theme="theme" active-item-style="style6" pcoded-navbar-position="fixed" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
    <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3" allowPageScroll="false">
      <div class="">
        <div class="main-menu-header">
          <div class="user-details">
            <span><i class="icofont icofont-ui-calendar" style="padding-right: 5px; font-size: 15px;"></i> {{ now | date:'dd MMMM yyyy '}}</span>
            <span><i class="icofont icofont-ui-clock" style="padding-right: 5px; font-size: 15px;"></i> {{ now | date:'HH:mm:ss'}}</span>
          </div>
        </div>
      </div>
      <div>
        <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <!-- <form class="md-float-material" (ngSubmit)="onSubmit()"> -->
        <div class="card table-card">
          <div class="col-sm-12 card-block" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="row">
              <div class="col-sm-12" style="margin-bottom: 5px;">
                  <h4 class="sub-title">Status Validasi</h4>
              </div> 
              <div class="col-sm-12">
                <div class="form-radio" id="radio-group"> 
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="validasi" formControlName="validasi" value="true">
                        <i class="helper"></i>Sudah Validasi
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="validasi" formControlName="validasi" value="false" checked="checked">
                        <i class="helper"></i>Belum Validasi
                      </label>
                    </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card table-card">
          <div class="col-sm-12 card-block" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="row">
              <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4 class="sub-title">Provinsi</h4>
                <select id="provinsi" class="form-control" formControlName="provinsi" (change)="onProvinsiChange($event)"> 
                  <option value="">-- Pilih --</option>
                  <option *ngFor="let prov of provinsi | async" value="{{prov.kode_provinsi}}">{{prov.nama_provinsi}}</option>
                </select>
              </div>
              <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4 class="sub-title">Kota</h4>
                <select id="kota" class="form-control" formControlName="kota" (change)="onKotaChange($event)"> 
                  <option value="">-- Pilih --</option>
                  <option *ngFor="let kot of kota | async" value="{{kot.kode_kota}}">{{kot.nama_kota}}</option>
                </select>
              </div>
              <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4 class="sub-title">Kecamatan</h4>
                <select id="kecamatan" class="form-control" formControlName="kecamatan" (change)="onKecamatanChange($event)"> 
                  <option value="">-- Pilih --</option>
                  <option *ngFor="let kec of kecamatan | async" value="{{kec.kode_kecamatan}}">{{kec.nama_kecamatan}}</option>
                </select>
              </div>
              <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4 class="sub-title">Kelurahan</h4>
                <select id="kelurahan" class="form-control" formControlName="kelurahan" (change)="onKelurahanChange($event)"> 
                  <option value="">-- Pilih --</option>
                  <option *ngFor="let kel of kelurahan | async" value="{{kel.kode_kelurahan}}">{{kel.nama_kelurahan}}</option>
                </select>
              </div>
              <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4 class="sub-title">TPS</h4>
                <select id="tps" class="form-control" formControlName="tps" (change)="onTPSChange($event)"> 
                  <option value="">-- Pilih --</option>
                  <option *ngFor="let tp of tps | async" value="{{tp.kode_tps}}">{{tp.nama_tps}}</option>
                </select>
              </div>
              <div class="col-sm-12" style="margin-bottom: 10px;">  
                  <button type="submit" class="btn btn-info btn-sm txt-white p-t-10 p-b-10" style="width:100%"><i class="icofont icofont-ui-search"></i>Tampilkan</button>  

                  <!-- <button type="button" class="btn btn-info btn-sm txt-white p-t-10 p-b-10" style="width:100%" (click)="changeData()"><i class="icofont icofont-ui-search"></i>Change</button>  
                  <button type="button" class="btn btn-info btn-sm txt-white p-t-10 p-b-10" style="width:100%" (click)="readData()"><i class="icofont icofont-ui-search"></i>Read</button>   -->
              </div>
              <div class="col-sm-12" style="margin-bottom: 20px;"> 
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <!-- <app-title></app-title> -->
          <!-- <app-breadcrumbs></app-breadcrumbs> -->
          <div class="page-body">
            <!-- <router-outlet><app-spinner> -->
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  
                  <app-card style="text-align: center;">
                    <h5>{{_header_title}}</h5>
                  </app-card>
                  <br/>
                  <br/>
                  <app-card [title]="'Grafik Hasil Perolehan Suara'" [headerContent]="''">
                    <div class="row">
                      
                        <!-- <button type="button" class="btn btn-info btn-sm txt-white p-t-10 p-b-10" style="width:100%" (click)="changeData()"><i class="icofont icofont-ui-search"></i>Change</button>   -->
                        <!-- <button type="button" class="btn btn-info btn-sm txt-white p-t-10 p-b-10" style="width:100%" (click)="readData()"><i class="icofont icofont-ui-search"></i>Read</button>   -->
                      <div class="col-md-12 col-lg-6">
                        <google-chart [data]="donutChartData"></google-chart>
                      </div> 
                      <div class="col-md-12 col-lg-6">
                        <br/><br/><br/> <br/> 
                        <div *ngIf="_dataLoaded">
                          <label class="badge badge-lg bg-danger" style="vertical-align: bottom;"><i class="icofont icofont-ui-press"></i></label>  
                          <h5>
                            &nbsp;&nbsp;Joko Widodo - KH Ma'ruf Amin <br>
                            <b>&nbsp;&nbsp;{{numberPercen(_dataPersen1)}}% ({{numberWithCommas(_data1)}} suara) </b>
                          </h5>
                        </div>
                        <br>
                          
                        <div *ngIf="_dataLoaded">
                          <label class="badge badge-lg bg-success" style="vertical-align: bottom;"><i class="icofont icofont-ui-press"></i></label>  
                          <h5>
                            &nbsp;&nbsp;Prabowo Subianto - Sandiaga Uno <br>
                            <b>&nbsp;&nbsp;{{numberPercen(_dataPersen2)}}% ({{numberWithCommas(_data2)}} suara) </b>
                          </h5>
                        </div> 
                      </div>
                    </div>
                  </app-card> 
                </div>   
              
                <div class="col-md-12 col-sm-12">
                    <br>
                    <!-- <br>{{filter_message}} -->
                </div>
                <div class="col-md-12 col-sm-12">
                  <app-card [title]="'Detail Data'" [headerContent]="''">
                    <div class="table-responsive">
                      <table class="table table table-bordered">
                        <thead style="background-color: #F5F5F5;">
                        <tr>
                          <th rowspan="2" style="text-align: center;vertical-align: middle;">Wilayah</th>
                          <th colspan="2" style="text-align: center;vertical-align: middle;">Perolehan Suara</th>
                          <th rowspan="2" style="text-align: center;vertical-align: middle;">Total Suara</th> 
                        </tr> 
                        <tr>
                          <th style="text-align: center;vertical-align: middle;">Joko Widodo -<br> KH Ma'ruf Amin</th>
                          <th style="text-align: center;vertical-align: middle;">Prabowo Subianto -<br> Sandiaga Uno</th> 
                        </tr>
                        </thead>
                        <tbody style="text-align: center" *ngIf="_dataLoaded_detail" > 
                        <tr *ngFor="let data of _dataTable">
                          <th scope="row">{{data.nama_wilayah}}</th>
                          <td>{{data.suara_1}}</td>
                          <td>{{data.suara_2}}</td>
                          <td>{{data.suara_total}}</td>
                        </tr>
                        </tbody>
                        <tfoot style="text-align: center; background-color: #F5F5F5;" *ngIf="_dataLoaded_detail">
                            <tr>
                              <th style="text-align: left;vertical-align: middle;">Total</th>
                              <th style="text-align: center;vertical-align: middle;">{{_dataTableTotal1}}</th>
                              <th style="text-align: center;vertical-align: middle;">{{_dataTableTotal2}}</th>
                              <th style="text-align: center;vertical-align: middle;">{{_dataTableTotal}}</th>
                            </tr>
                        </tfoot>
                      </table>
                    </div>
                  </app-card>
                </div>
              </div>
            <!-- </app-spinner></router-outlet> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


